.header {
  background: rgba(136,135,133, 0.9);

  height: 10vh;
  border-bottom: 1px solid black;
  color: white;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10% 0 10%;

}
.header__title {
  font-weight: bold;
}