<form class="form">
  <fieldset class="form__wrapper">
    <div class="form__item"><h1 class="form__heading">CONVERTER</h1></div> 
    <div class="form__item">
      <input [(ngModel)]="exchangeTo.rate" class="form__input" type="number" name="exchangeToAmount" required
        (ngModelChange)="calcTo(exchangeFrom.r030, exchangeTo.r030, true)" min="0">
      <select [(ngModel)]="exchangeTo.r030" class="form__select" name="exchangeToCurrency"
        (ngModelChange)="calcTo(exchangeFrom.r030, exchangeTo.r030, true)">
        <option value=980>UAH</option>
        <option value=978>EUR</option>
        <option value=840>USD</option>
      </select>
    </div>
    <div class="form__item">
      <input [(ngModel)]="exchangeFrom.rate" class="form__input" type="number" name="exchangeFromAmount" required
        (ngModelChange)="calcTo(exchangeTo.r030, exchangeFrom.r030, false)" min="0">
      <select [(ngModel)]="exchangeFrom.r030" class="form__select" name="exchangeFromCurrency"
        (ngModelChange)="calcTo(exchangeTo.r030, exchangeFrom.r030, false)">
        <option value=980>UAH</option>
        <option value=978>EUR</option>
        <option value=840>USD</option>
      </select>
    </div>
  </fieldset>
</form>